<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Hostel Management System</title>
    <link href="css/bootstrap.css" type="text/css" rel="stylesheet"/>
    <link href="css/style.css" type="text/css" rel="stylesheet">

</head>
<body>

<header class="col-md-12" style="background: black">
    <nav class="nav navbar">
        <h2 class="text-primary">Nnamdi Azikiwe Hostels</h2>
        <a class="text-white pull-right" th:href="@{/logout}">Logout</a>
    </nav>
</header>
<section class="jumbotron container">
    <form method="post" action="/book" th:action="@{/book}" th:object="${bookingDetails}">
        <div class="form-group">
            <div class="row jumbotron">
                <div class="col-md-8 offset-4">
                    <form action="/selectRoom" th:action="@{/book}" method="POST">
                        <select class="form-control" name="confirmedFloor" required>
                            <option value="" selected="selected" disabled> Please select a floor...</option>
                            <option value="First Floor">First Floor</option>
                            <option value="Second Floor">Second Floor</option>
                            <option value="Ground Floor">Ground Floor</option>
                        </select>
                        <select class="form-control" name="confirmedRoom" required>
                            <option value="" selected="selected" disabled> Please select a room...</option>
                            <option value="" th:value="Room +${i}" th:each="i : ${#numbers.sequence(1,42,1)}" th:text="Room +${i}"></option>
                        </select>
                        <button class="btn btn-success pull-right" style="margin-top:10px; margin-bottom: 10px;" type="submit" >Book Room</button>
                    </form>
                </div>
            </div>
        </div>
    </form>
</section>

<script src="js/bootstrap.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/jquery.js"></script>
</body>
</html>