<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Hostel Management System</title>
    <link href="css/bootstrap.css" type="text/css" rel="stylesheet"/>

</head>
<body>

<header class="col-md-12" style="background: black">
    <nav class="nav navbar">
        <h2 class="text-primary">Nnamdi Azikiwe Hostels</h2>
        <a class="text-white pull-right" th:href="@{/logout}">Logout</a>
    </nav>
</header>
<section class="jumbotron"></section>

<script src="js/bootstrap.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/jquery.js"></script>
</body>
</html>