<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Hostel Management System</title>
    <link href="css/bootstrap.css" type="text/css" rel="stylesheet"/>
    <link href="css/style.css" type="text/css" rel="stylesheet"/>

</head>
<body style="padding: 0; margin: 0; background: url('https://res.cloudinary.com/dm9m9lutv/image/upload/c_scale,e_blur:1104,h_743,w_1366/v1574085456/IMG_E4216_sxhjbx.png') no-repeat" class="container-fluid">
    <header class="col-md-12" style="background: black">
        <nav class="nav navbar">
            <h2 class="text-white">Nnamdi Azikiwe Hostels</h2>
            <a class="text-white pull-right" th:href="@{/logout}">Logout</a>
        </nav>
    </header>
    <section class="container studentArea" style="padding: 50px; background: white">

                <div class="">
                    <form action="/Complain" th:action="@{/layComplaint}" th:object="${complaint}" method="POST">
                        <div class="form-group">
                            <label for="Message">Message</label>
                            <input type="text" class="form-control" id="Message" th:field="*{message}" name="Message" aria-describedby="Message" placeholder="Enter Your Complaint">
                        </div>
                        <div class="form-group">
                            <label for="Email">Enter Your Email</label>
                            <input class="form-control" type="text" name="email" id="Email" placeholder="Email Address to receive "/>
                        </div>
                        <button class="btn btn-success pull-right" type="submit" >Complain</button>
                    </form>
                </div>
            </div>
    </section>
</body>
</html>