<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Hostel Management System</title>
    <link href="css/bootstrap.css" type="text/css" rel="stylesheet"/>

</head>
<body style="padding: 0; margin: 0px;" class="container-fluid">
<header class="col-md-12" style="background: black">
    <nav class="nav navbar">
        <h2 class="text-primary">Nnamdi Azikiwe Hostels Admin portal</h2>
        <a class="text-white pull-right" th:href="@{/logout}">Logout</a>
    </nav>
</header>
<section class="col-md-12 row" style="height: 100%;">
    <aside class="col-md-3" style="background: black;">
        <div class="col-md-12">
            <h3 class="text-white">DashBoard</h3>
        </div>
    </aside>
    <div class="col-md-9" style="background: white;">
        <div class="row">
            <div class="col-md-4 dashboardBackgrounds">
                <a style="color: white" th:href="@{/layComplaint}"><h2 style="margin-top: 25%;">Lay A complaint</h2></a>
            </div>
            <div class="col-md-4 dashboardBackgrounds">
                <a style="color: white" th:href="@{/roomDetails}"><h2 style="margin-top: 25%;">Check Room Details</h2></a>
            </div>
        </div>
    </div>
</section>


<script src="js/bootstrap.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/jquery.js"></script>
</body>
</html>