<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Hostel Management System</title>
    <link href="css/bootstrap.css" type="text/css" rel="stylesheet"/>

</head>
<body>
<section class="offset-3 col-md-6" style="margin-top: 100px;">
    <div class="">
        <h2 class="text-primary" style="text-align: center;">Register</h2>
    </div>
    <div class="col-md-12">
        <form method="post" action="/register" th:action="@{/addUser}" th:object="${user}">
            <div class="form-group">
                <label for="email">First Name</label>
                <input type="text" th:field="*{email}" class="form-control" id="email" name="email" aria-describedby="email" placeholder="Enter your Email">
            </div>
            <div class="form-group">
                <label for="userName">Middle Name</label>
                <input type="text" th:field="*{userName}" class="form-control" id="userName" name="userName" aria-describedby="userName" placeholder="Enter your UserName">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" th:field="*{password}" class="form-control" id="password" name="password" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="confPass">Confirm Password</label>
                <input type="password" class="form-control" id="confPass" name="confPass" placeholder="Confirm Password">
            </div>
            <button type="submit" class="btn btn-success form-control">Register</button>
        </form>
    </div>

</section>


<script src="js/bootstrap.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/jquery.js"></script>
</body>
</html>