<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Hostel Management System</title>
    <link href="css/bootstrap.css" type="text/css" rel="stylesheet"/>
    <link href="css/style.css" type="text/css" rel="stylesheet"/>

</head>
<body style="padding: 0; margin: 0; background: url('https://res.cloudinary.com/dm9m9lutv/image/upload/c_scale,e_blur:1104,h_743,w_1366/v1574085456/IMG_E4216_sxhjbx.png') no-repeat" class="container-fluid">
    <header class="col-md-12" style="background: black">
        <nav class="nav navbar">
            <h2 class="text-white">Nnamdi Azikiwe Hostels Admin portal</h2>
            <a class="text-white pull-right" th:href="@{/dashboard}">Back to Dashboard</a>
            <a class="text-white pull-right" th:href="@{/logout}">Logout</a>
        </nav>
    </header>
    <section class="container searchArea">
        <div class="col-md-12 offset-5">
            <form class="form-inline" action="/checkRoom" th:action="@{/checkRoom}" method="post">
                <div class="form-group">
                    <select class="form-control" name="floor" required>
                        <option value="" selected="selected" disabled> Please select a floor...</option>
                        <option value="First Floor">First Floor</option>
                        <option value="Second Floor">Second Floor</option>
                        <option value="Ground Floor">Ground Floor</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>
                        <input class="form-control" type="number" placeholder="Room Number" name="roomNumber"/>
                    </label>
                </div>
                <div class="form-group form-check-inline">
                    <button class="btn btn-dark" type="submit"><i class="fa fa-search"></i>&nbsp;Check</button>
                </div>
            </form>
        </div>
    </section>
    <section class="container" style="margin-top: 100px; background: white" >
        <div class="studentArea row">
            <div class="col-md-3" style="height: inherit;">
                <figure class="figure col-md-12">
                    <img style="margin-left: 25%; margin-top: 40%" src="https://res.cloudinary.com/dm9m9lutv/image/upload/v1574262968/unizikLogo_njgybk.png">
                    <figcaption style="font-size: 20px;" class="text-center">Check A Room</figcaption>
                </figure>
            </div>
            <div class="col-md-9" th:if="${notEmpty} == true">
                <h1 th:text="${room.name}"></h1>
                <h2>Room Capacity = 4</h2>
                <h3 th:text=" 'Occupied Spaces: '+${room.capacity}"></h3>
                <div class="col-md-4" style="font-size: 25px;" th:each="student: ${roomMates}">
                    <p th:text=" 'Occupant : '+${student.lastName}"></p>
                    <p th:text="${student.firstName}"></p>
                    <p th:text="${student.regNo}"></p>
                    <p th:text="${student.department}"></p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>