<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hostel Management System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="css/bootstrap.css" type="text/css" rel="stylesheet"/>
    <link href="css/style.css" type="text/css" rel="stylesheet"/>

</head>
<body style="padding: 0; margin: 0px;" class="container-fluid">
    <header class="col-md-12" style="background: black">
        <nav class="nav navbar">
            <h2 class="text-primary">Nnamdi Azikiwe Hostels Admin portal</h2>
            <a class="text-white pull-right" th:href="@{/dashboard}">Back to Dashboard</a>
            <a class="text-white pull-right" th:href="@{/logout}">Logout</a>
        </nav>
    </header>
    <section class="container searchArea">
        <div class="col-md-6 offset-6">
            <form class="form-inline" action="/checkStudent" th:action="@{/checkStudent}" method="post">
                <div class="form-group">
                    <label>
                        <input class="form-control" placeholder="Registration Number" name="regNo"/>
                    </label>
                </div>
                <div class="form-group">
                    <button class="btn btn-dark" type="submit"><i class="fa fa-search"></i>&nbsp;Check</button>
                </div>
            </form>
        </div>
    </section>
    <section class="container studentArea" >
        <div class="" th:if="${notEmpty} == true">
            <p class="text-primary" th:text="${'First Name: ' +student.firstName}"></p>
            <p class="" th:text="${'Middle Name: ' + student.middleName}"></p>
            <p class="" th:text="${'Last Name: ' + student.lastName}"></p>
            <p class="" th:text="${'Gender: ' + student.gender}"></p>
            <p class="" th:text="${'Age: '+ student.age}"></p>
            <p class="" th:text="${'Registration Number: '+ student.regNo}"></p>
            <p class="" th:text="${'Department: ' + student.department}"></p>
            <p th:text="${'Facultty: ' + student.faculty}"></p>
            <p th:text="${'Students Room: ' + student.roomNumber}"></p>
            <p th:text="${'Students Floor: ' + student.floor}"></p>
        </div>
    </section>
</body>
</html>