<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Hostel Management System</title>
    <link href="css/bootstrap.css" type="text/css" rel="stylesheet"/>
    <link href="css/style.css" type="text/css" rel="stylesheet"/>

</head>
<body style="padding: 0; margin: 0; background: url('https://res.cloudinary.com/dm9m9lutv/image/upload/c_scale,e_blur:1104,h_743,w_1366/v1574085456/IMG_E4216_sxhjbx.png') no-repeat" class="container-fluid">
    <header class="col-md-12" style="background: black">
        <nav class="nav navbar">
            <h2 class="text-white">Nnamdi Azikiwe Hostels Admin portal</h2>
            <a class="text-white pull-right" th:href="@{/dashboard}">Back to Dashboard</a>
            <a class="text-white pull-right" th:href="@{/logout}">Logout</a>
        </nav>
    </header>
    <section class="container searchArea">
        <div class="col-md-12 offset-5">
            <form class="form-inline" action="/checkFloor" th:action="@{/checkFloor}" method="post">
                <div class="form-group">
                    <select class="form-control" name="floor" required>
                        <option value="" selected="selected" disabled> Please select a floor...</option>
                        <option value="First Floor">First Floor</option>
                        <option value="Second Floor">Second Floor</option>
                        <option value="Ground Floor">Ground Floor</option>
                    </select>
                </div>
                <div class="form-group form-check-inline">
                    <button class="btn btn-dark" type="submit"><i class="fa fa-search"></i>&nbsp;Check Floor</button>
                </div>
            </form>
        </div>
    </section>
    <div class="container studentArea text-center" style="margin-top: 100px; background: white" th:if="${noOfFloorMates} != null" >
        <h3 th:text="'Students in this floor: '+${noOfFloorMates}"></h3>
    </div>
    <section class="container studentArea" style="margin-top: 50px; background: white" >
        <table class="table table-hover">
            <thead>
            <tr>
                <th style="text-align: center;">No. </th>
                <th>Names</th>
            </tr>
            </thead>
            <tbody id="body" style="background-color: whitesmoke;">
            <tr th:each="student, iterStat:${studentsOfFloor}">
                <td th:text="${iterStat.count}"></td>
                <td>
                    <div>
                        <p th:text="${student.firstName} + ' ' + ${student.lastName}"></p>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </section>
</body>
</html>